{% extends "base.html" %}

{% block title %}Super Page{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1>
    Plaese, sing in
</h1>

<div class="container">
    <form action="#" id="form">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/src/templates/js/sing-up.js"></script>
{% endblock %}