{% extends "base.html" %}

{% block title %}Super Page{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<h1>
    Plaese, sing in
</h1>

<div class="container">
    <form action="/auth/register" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if data %}
      Your number is {{data.email}} and the result is {{data.pwd}}.
      {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}